<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='milligram.css') }}">
</head>

<body>
    <div class="container" style="text-align: center; margin-top: 100px;">
        <h1>Olá, {{ nome }}!</h1>
        <p>É um prazer ter você de volta.</p>

        <div style="margin-top: 30px;">
            <a href="/" class="button button-outline">Ir para o Início</a>
        </div>
    </div>
</body>

</html>